<% include ../_partials/nav_dashboard.ejs %>

        <div class="container-fluid">
       
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Votre profil</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Vous informations liée au compte</h6>
                  <p class="card-text">Nom: <%=user.nom %></p>
                  <p class="card-text">Prenom: <%=user.prenom %></p>
                  <p class="card-text">Profession: <%=user.profession %></p>
                  <p class="card-text">Téléphone: <%=user.telephone %></p>
                  <p class="card-text">Email: <%=user.email %></p>

                  <button type="button" class="btn btn-warning"href="https://bootsnipp.com/pradeep330">Modifier</button>

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            
            <div class="col-md-4 col-lg-4 col-sm-3">
              <div class="card ">
                <div class="card-body">
                  <h5 class="card-title">Sites/Formats</h5>
                  <table class="table table-sm table-striped">
                    <thead class="thead-dark" >
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nos support</th>
                        <th scope="col">Nom des formats</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>LINFO.re</td>
                        
                        <td>M-BAN</td>
                      </tr>
                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        
            <div class="col-md-4 col-lg-4 col-sm-3">
              <div class="card ">
                <div class="card-body">
                  <h5 class="card-title">Utilisateur</h5>
                  <table class="table table-sm table-striped">
                    <thead class="thead-dark" >
                      <tr>
                        <th scope="col">N°client</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prenom</th>
                        <th scope="col">Profession</th>

                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                      </tr>
                     
                    </tbody>

                  </table>
                </div>
              </div>
            </div>
          <!-- </div> -->
          <!-- <div class="row"> -->
            <div class="col-md-4 col-lg-4 col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Annonceurs</h5>
                  <table class="table table-sm table-striped">
                    <thead class="thead-dark" >
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom annonceurs</th>
                        <th scope="col">Nom utilisateurs</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Zeop.re</td>
                        <td>Joe Diego</td>
                      </tr>
                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Campagnes</h5>
                  <table class="table table-sm table-striped">
                    <thead class="thead-dark" >
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom des Campagnes</th>
                        <th scope="col">Date début</th>
                        <th scope="col">Date fin</th>
                        <th scope="col">Status</th>


                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Campagne dispay zeop</td>
                        <td>20/06/2020</td>
                        <td>25/06/2020</td>
                        <td>Actif</td>


                      </tr>
                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>























      <script src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>


<script>
    $( document ).ready(function() {
     $('.leftmenutrigger').on('click', function(e) {
     $('.side-nav').toggleClass("open");
     e.preventDefault();
    });
});
</script>














</body>

</html>