<% include ../_partials/nav_dashboard.ejs %>


<div class="container-fluid">


    <div class="row">


          

        <div class="col-md-6 col-lg-6 col-sm-3">
                <table class="table table-striped table-dark">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Noms du campagne</th>
                            <th scope="col">Debut-fin campagne</th>
                            <th scope="col">Visuel upload</th>
                            <th scope="col">Formats</th>
                            <th scope="col">Support</th>
                            <th scope="col">Budget estimé</th>
                            <th scope="col">Budget global</th>
                            <th scope="col">Utilisateurs</th>
                            <th scope="col">Actions</th>


                        </tr>
                    </thead>
                    <% for(let i=0; i < campagnes.length; i++) {%>
                    <tbody>
                        <tr>
                            <th scope="row"><%= campagnes[i].id %></th>
                            <td><%= campagnes[i].nom_campagne %></td>
                            <td><%= campagnes[i].date_d %>
                                <br>
                                <%= campagnes[i].date_f %>
                            </td>
                            <td><%= campagnes[i].id_visuels %></td>
                            <td><%= campagnes[i].id_formats %></td>
                            <td><%= campagnes[i].id_sites %></td>
                            <td><%= campagnes[i].nbr_impressions %></td>
                            <td><%= campagnes[i].budget_total %></td>
                            <td><%= campagnes[i].id_users %></td>


                            <td>


                                
                                <a class="btn btn-sm btn-danger" href="/admin/campagnes/delete/<%= campagnes[i].id %>"
                                    type="button"><i class="fas fa-times-circle"></i></a>
                            </td>



                        </tr>

                    </tbody>
                    <% } %>

                </table>
        </div>
    </div>
    </div>
    </div>

</div>
</div>











<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>


<script>
    $(document).ready(function () {
        $('.leftmenutrigger').on('click', function (e) {
            $('.side-nav').toggleClass("open");
            e.preventDefault();
        });
    });
</script>


<script src="/javascripts/formats/ajax.js"></script>
<script src="/javascripts/annonceurs/ajax.js"></script>
<script src="/javascripts/visuels/ajax.js"></script>
<script src="/javascripts/sites/ajax.js"></script>

</body>

</html>