<% include ../_partials/nav_profil.ejs %>


<div class="container-fluid">


    <div class="row">
        <div class="col-md-5 col-lg-6 col-sm-3">


            <div class="card card-default">
                <div class="card-header">
                    <h4 class="card-title">

                        Ajouter un visuel
                    </h4>
                </div>
                <div id="collapse1" class="collapse show">
                    <div class="card-body">
                        <form id="signup-form" data-parsley-validate class="mt-5" role="form" action="/visuels/create"
                            method="POST" enctype="multipart/form-data">
                            <div class="row">


                                <div class="col-md-3 col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label" for="image_visuel">Image</label>
                                        <input type="file" name="image_visuel" id="image_visuel" class="form-control"
                                            required />
                                    </div>
                                </div>

                                <div class="col-md-3 col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label" for="nom_visuel">Intitulé du visuel</label>
                                        <input type="text" name="nom_visuel" class="form-control" id="nom_visuel"
                                            value="Visuel" required />
                                    </div>
                                </div>



                            </div>
                            <div class="mt-5">
                                <button id="signup-submit-btn" class="btn btn-sm btn-info col">
                                    Ajouter un visuel                                
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-lg-6 col-sm-3">
                <table class="table table-striped table-dark">
                    <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Ajouter un visuel</th>
                                <th scope="col">Image upload</th>
                                <th scope="col">Action</th>


                            </tr>
                        </thead>
                        <% for(let i=0; i < visuels.length; i++) {%>
                        <tbody>
                            <tr>
                                <th scope="row"><%= visuels[i].id %></th>
                                <td><%= visuels[i].nom_visuel %></td>
                                <td><img src="/uploads/<%= visuels[i].image %>"
                                        alt="/uploads/<%= visuels[i].image %>" />
                                </td>


                                <td>

                                    <a class="btn btn-sm btn-warning" href="/visuels/edit/<%= visuels[i].id %>"><i
                                            class="fa fa-pencil-alt"></i></a>

                                    <a class="btn btn-sm btn-danger" href="/visuels/delete/<%= visuels[i].id %>"
                                        type="button"><i class="fas fa-times-circle"></i></a>


                                </td>



                            </tr>

                        </tbody>
                        <% } %>

                    </table>
            </div>
        </div>
        </div>











<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>


<script>
    $(document).ready(function () {
        $('.leftmenutrigger').on('click', function (e) {
            $('.side-nav').toggleClass("open");
            e.preventDefault();
        });
    });
</script>



</body>

</html>