<% include ../layouts/doctype.ejs %>

        <div id="accordion">


            <div class="card card-default">
                <div class="card-header">
                    <h4 class="card-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            <i class="glyphicon glyphicon-search text-gold"></i>
                            <b>Crée votre format</b>
                        </a>
                    </h4>
                </div>
                <div id="collapse1" class="collapse show">
                    <div class="card-body">
                        <form id="signup-form" data-parsley-validate class="mt-5" role="form" action="/format/update/<%= format.id %>"
                            method="POST">
                            <div class="row">
                                <div class="col-md-3 col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label">Nom du format</label>
                                        <input type="text" name="nom_format" class="form-control" value="<%= format.nom_format %>" />
                                    </div>
                                </div>


                                <div class="col-md-2 col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label">Dimension longeur (W)</label>
                                        <div class="input-group date">
                                            <input type="number" class="form-control" name="dimension_w"
                                                value="<%= format.dimension_w %>" min="50">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label">Dimension hauteur (H)</label>
                                        <input type="number" class="form-control" name="dimension_h"
                                            value="<%= format.dimension_h %>" min="50">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label">Prix (HT en €)</label>
                                        <input type="number" name="prix" class="form-control"
                                        min="50" value="<%= format.prix %>"/>

                                    </div>
                                </div>
                              

                        
                            </div>
                            <div class="mt-5">
                                <button id="signup-submit-btn" class="btn btn-sm btn-danger col">
                                    Créaction de votre format
                                </button>
                            </div>
                
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <% include ../layouts/doctype_end.ejs %>
