<% include ../layouts/doctype.ejs %>

<h1>Mon profile</h1>



            <p><%= user.id %></p>
            <p><%= user.nom %></p>
            <p><%= user.prenom %></p>
            <p><%= user.profession %></p>
            <p><%= user.telephone %></p>



<% include ../layouts/doctype_end.ejs %>
